{
  "swagger": "2.0",
  "info": {
    "title": "Raspberry Pi GPIO service",
    "contact": {
      "name": "support team",
      "email": "gpio@example.com"
    },
    "license": {
      "name": "Creative Commons 4.0 International",
      "url": "http://creativecommons.org/licenses/by/4.0/"
    },
    "version": "1.0.0"
  },
  "host": "gpio-rest-seriousme-1.c9.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/gpios": {
      "get": {
        "tags": [
          "listGpios"
        ],
        "summary": "List the available GPIO's",
        "description": "",
        "operationId": "listGpios",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Gpio"
              }
            }
          }
        }
      }
    },
    "/gpios/{gpioId}": {
      "get": {
        "tags": [
          "toggleGpio"
        ],
        "summary": "Toggle the gpio by ID",
        "description": "",
        "operationId": "toggleGpio",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gpioId",
            "in": "path",
            "description": "ID of gpio that needs to be fetched",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Gpio"
            }
          },
          "400": {
            "description": "Failed operation",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "gpioId",
          "in": "path",
          "required": true,
          "type": "integer"
        }
      ]
    }
  },
  "definitions": {
    "Gpio": {
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "gpioPin": {
          "type": "integer"
        }
      }
    },
    "Error": {
      "required": [
        "error"
      ],
      "properties": {
        "error": {
          "type": "string"
        }
      }
    }
  }
}