{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Raspberry Pi GPIO service",
    "contact": {
      "name": "support team",
      "email": "gpio@example.com"
    },
    "license": {
      "name": "Creative Commons 4.0 International",
      "url": "http://creativecommons.org/licenses/by/4.0/"
    }
  },
  "host": "gpio-rest-seriousme.c9.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/gpios" : {
  		"get" : {
  			"tags" : ["listGpios"],
  			"summary" : "List the available GPIO's",
  			"description" : "",
  			"operationId" : "listGpios",
  			"produces" : ["application/json"],
  			"responses" : {
  				"200" : {
  					"description" : "successful operation",
  					"schema" : {
							"type" : "array",
							"items" : {
								"$ref" : "#/definitions/Gpio"
							}
						}
  				}
  			}
  		}
		},
		"/gpios/{gpioId}" : {
  		"get" : {
  			"tags" : ["toggleGpio"],
  			"summary" : "Toggle the gpio by ID",
  			"description" : "",
  			"operationId" : "toggleGpio",
  			"produces" : ["application/json"],
  			"parameters" : [{
  					"name" : "gpioId",
  					"in" : "path",
  					"description" : "ID of gpio that needs to be fetched",
  					"required" : true,
  					"type" : "integer",
  					"format" : "int"
  				}
  			],
  			"responses" : {
  				"200" : {
  					"description" : "successful operation",
  					"schema" : {
  						"$ref" : "#/definitions/Gpio"
  					}
  				},
  				"400" : {
  					"description" : "Failed operation",
  					"schema" : {
  						"$ref" : "#/definitions/Error"
  					}
  				}
  			}
  		}
  	}
  },
  "definitions": {
    "Gpio": {
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int"
        },
        "gpioPin": {
          "type": "integer"
        }
      }
    },
    "Error": {
      "required": [
        "error"
      ],
      "properties": {
        "error": {
          "type": "string"
        }
      }
    }
  }
}